.chat
{
    list-style: none;
    margin: 0;
    padding: 0;

    word-wrap: break-word;
    overflow-y: auto;
    padding-bottom: 1em;
    flex-grow: 1;
    order: 1;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin-left: -60px;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
}

/*
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}*/

.agentChat{
    width: 30px;
    height: 30px;
    /* height: 50px; */
    border-radius: 50% !important;
    background: #226D6D;
        text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.userChat{
    width: 30px;
    height: 30px;
    /* height: 50px; */
    border-radius: 50% !important;
    background:#A93838;
        text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.chatmsg{
    padding:10px;
    width: 350px;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}
.chatmsgBot{
  padding:10px;
  width: 350px;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: keep-all;
  white-space: normal;
}
.panel-header{
    background: #D1DCDC;
    }
.agentChatBox{
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
    background: rgba(51, 122, 183, 0.13);
    margin-left: 270px;
    border-radius: 10px !important;
    padding: 5px;
    width: 450px;
}

.userChatBox{
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
    margin-right: 270px;

    border-radius: 10px !important;
    padding: 5px;
    background: #f5f5f5;
    width: 450px;
}

.userChatBoxTemp{
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
    /*width: 100%;*/
    border-radius: 10px !important;
    padding: 5px;
    background: #f5f5f5;
    width: 370px;
}
.agentChatBoxTemp{
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
    background: rgba(51, 122, 183, 0.13);

    border-radius: 10px !important;
    padding: 5px;
    width: 370px;
}
.table .table-colored{
    background-color: rgba(119, 119, 119, 0.11);
}

.widgetheader{
    display: flex;
    justify-content: center;
}
.widgettitle{
    display: inline-block;
    float: right;
    padding-top: 0.5em;
}
